.produ-img0 {
    background: url(./../images/common/1.jpg) no-repeat center center;
}

.produ-img1 {
    background: url(./../images/common/2.jpg) no-repeat center center;
}

.produ-img2 {
    background: url(./../images/common/3.jpg) no-repeat center center;
}

.produ-img3 {
    background: url(./../images/common/4.jpg) no-repeat center center;
}

.produ-img4 {
    background: url(./../images/common/5.jpg) no-repeat center center;
}
.no-data-box {
    background: url(./../images/common/xianxia.png) no-repeat center center;
    position: relative;
	height: 300px;
}
.iphone {
    background: url(./../images/common/iphone.png) no-repeat center center;
}
.iphone0 {
    background: url(./../images/common/iphone0.png) no-repeat 50% 70%;
}
.iphone1 {
    background: url(./../images/common/iphone1.png) no-repeat center center;
}
.iphone2 {
    background: url(./../images/common/iphone2.png) no-repeat center center;
}
.iphone3 {
    background: url(./../images/common/iphone3.png) no-repeat center center;
}
.borRed{
    border: 1px solid #ECC701 ;
}
.btn-position{
	position: relative;
	left: 50%;
	transform: translateX(-50%);
	margin: 20px 0;
}
/*---滚动条默认显示样式--*/  
/* ::-webkit-scrollbar-thumb{
   background-color:#90D1DE;
   height:50px;
   outline-offset:-2px;
   outline:0px solid #fff;
   -webkit-border-radius:4px;
   border: 0px solid #fff;
} */
/*---鼠标点击滚动条显示样式--*/  
/* ::-webkit-scrollbar-thumb:hover{
   background-color:rgb(162, 240, 236);
   height:50px;
   -webkit-border-radius:4px;
} */
/*---滚动条大小--*/  
/* ::-webkit-scrollbar{
   width:8px;
   height:8px;
} */
/*---滚动框背景样式--*/  
/* ::-webkit-scrollbar-track-piece{
   background-color:#fff;
   -webkit-border-radius:0;
} */


.bbc-content{
	background: #FFFFFF;
	border: 1px solid #BBBBBB;
	box-shadow: 0 0 9px 0 rgba(0,0,0,0.20);
	border-radius:0 0 14px 14px;
	min-height: 300px;
	padding: 20px 20px;
}
.bbc-form{
	height: 40px;
	width: 100%;
	/* background-image: linear-gradient(180deg, #3B75B2 0%, #0C447B 100%); */
	background: #333a4d;
	border-bottom: 1px solid #272727;
}
.bbc-form.bbc-buttonaaa{
	/* background: url('./img/bottom.png') center bottom no-repeat; */
	background: #333a4d;
}
.bbc-form .form-list li{
		padding: 0 20px;
		float: left;
		line-height: 40px;
		height: 40px;
		color: #FFFFFF;
		cursor: pointer;
}

.bbc-form .bbc-button{
	padding: 0 15px;
	display: inline-block;
	height: 30px;
	line-height: 30px;
	color: #FFFFFF;
	border-radius: 10px;
	margin-top: 5px;
	cursor: pointer;
	background-image: linear-gradient(180deg, #4E7FB3 0%, #3368A5 44%, #215796 53%, #195186 100%);
	box-shadow: 0 0 2px 0 rgba(0,0,0,0.60);
	border-radius: 2px;
	border-radius: 2px;
	margin-left: 10px;
	position: relative;
}

.bbc-form .bbc-button:hover ul{
	z-index: 100;
	display: block;
}

.bbc-form .bbc-button ul:hover{
	display: block;
}


.bbc-form .bbc-button ul{
	position: absolute;
	width: 100%;
	left: 0px;;
	display: none;
	top: 30px;
	background: #3368A5;
	border-radius: 4px;
}
.bbc-form .bbc-button ul li{
	width: 100%;
	height: 30px;
	line-height: 30px;
	text-align: center;
	cursor: pointer;
}

.bbc-form .bbc-button.disabled{
	color: #7397bc;
	cursor: unset;

}

.bbc-form .form-list li.active{
	background: #00ba89;
	padding-left: 25px;
	border-radius: 25px 0 0 0;
}
.node-bbc{
	height: 100%;
	margin: 0 auto;
}
.bbc-top{
	/* background: url('./img/top.png') no-repeat; */
	background: #333a4d;
	background-size: cover;
	border-radius: 15px 15px 0 0;
	border-radius: 15px 15px 0px 0px;
	line-height: 62px;
	height: 62px;
	font-size: 22px;
	color: #FFFFFF;
	text-indent: 40px;
}

.bbc-box .bbc-title{
		height: 48px;
		line-height: 48px;
		background: #ffffff;
		border-bottom: 1px solid #ddd;
		text-indent: 15px;
		background: #F3F8FF;
		border: 1px solid #DDDDDD;
		border-radius: 2px 2px 0 0;
		border-radius: 2px 2px 0px 0px;
}

.bbc-box .bbc-title i {
	font-size: 18px;
	margin-right: 20px;
}

.bbc-box .bbc-contact{
	background: #ffffff;
	padding-top: 30px;
	min-height: 100px;
	background: #FFFFFF;
	border: 1px solid #DDDDDD;
	box-shadow: 0 2px 4px 0 rgba(0,0,0,0.10);
	border-radius: 2px;
	border-radius: 2px;
	border-top: none;
	padding-bottom: 30px;
}

.task-work-text p{
	line-height: 24px;;
}
.row{
	display: flex;
}
.col-1{
	flex: 1;
}
.col-2{
	flex: 2;
}
.col-3{
	flex: 3;
}
